body {
    text-align: center;
    background-color: black;
    color: white;
    font-family: Optima, sans-serif;
    text-align: justify-center;
  }
  
  .zombie{height : 180px ;}

  .berk{ height : 550px ;}
  