body {
  background-color: black;
  color: white;
  text-align: center;
  font-family: 'Dancing Script', cursive; font-family: 'Lato', sans-serif;
}

.margin{
margin-top: 30px;
margin-bottom: 30px;
}

  .clown {
    height: 350px;
  }

  img:hover{
    height : 400px ;
}

  .bouton {
    font-size: 50 px;
    color: yellow;
  }

  span.italique {   /*pour écrire en italique*/
    font-style:italic;
    color: yellow;
   }

   audio {
    filter: sepia(20%) saturate(70%) grayscale(1) contrast(99%) invert(12%);
    width: 200px;
    height: 25px;
}


@media (max-aspect-ratio: 3/4) {

  .clown {
    height: 220px;
  }

  body{
font-size:10pt;
  }

}